<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>
</body>

<script src="./js/vue.js"></script>
<script src="./js/vue-router.js"></script>
<script src="./js/vuex.js"></script>
<script type="text/javascript">
const login=Vue.component('login',{
  template:`
    <div>
        <input v-model="value">
        <button @click="login">登录</button>
      </div>
  `,
  data(){
    return{
      value:''
    }
  },
  methods:{
    login(){
      if(this.value==''){
        alert("用户名不能为空");
        return;
      }
      sessionStorage.setItem('user',this.value);
      console.log(this.$router)
      let path=this.$route.query.redirect;
      this.$router.replace({
        path:path==undefined?'/resturantNameA':path
      })
    }
  }
})
  const resturantNameA = Vue.component('resturantNameA', {
    template: `
      <div>
        <h1>这是餐馆{{this.$store.state.resturantName+'A'}}</h1>
        <input v-model="name" />
        <button @click="changeName">修改名字</button>
        </div>
    `,
    data() {
      return {
        name: ''
      }
    },
    watch: {

    },
    methods: {
      changeName() {
        if (this.name != '') {
          this.$store.dispatch('modifyName', this.name);
          this.$router.replace({
            path: '/resturantNameB'
          })
        }
        else{
          alert("餐馆名字为空");
          return;
        }
      }
    }
  })
  const resturantNameB = Vue.component('resturantNameB', {
    template: `
      <div>
        <h1>这是餐馆{{this.$store.state.resturantName+'B'}}</h1>
        <input v-model="name"/>
        <button @click="changeName">修改名字</button>
        </div>
    `,
    data() {
      return {
        name: ''
      }
    },
    data() {
      return {
        name: ''
      }
    },
    methods: {
      changeName() {
        if (this.name != '') {
          this.$store.dispatch('modifyName', this.name);
          this.$router.replace({
            path: '/resturantNameA'
          })
        }
        else{
          alert("餐馆名字为空");
          return;
        }
      }
    }
  })
  const routes = [
    
    { path: '/', redirect: '/login' },
    { path: '/login', component: login,name:'login' },
    { 
      path: '/resturantNameA', 
      component: resturantNameA, 
      name: 'resturantNameA',
      meta:{
        loginRequire:true
      }
     },
    { 
      path: '/resturantNameB', 
      component: resturantNameB, 
      name: 'resturantNameB',
      meta:{
        loginRequire:true
      }
    },

  ]
  const router = new VueRouter({
    history:'mode',
    routes: routes
  })
  //Vue.use(Vuex);

  const store = new Vuex.Store({
    state: {
      resturantName: 'test'
    },
    mutations: {
      modifyName(state, name) {
        state.resturantName = name;
      }
    },
    actions: {
      modifyName({ commit }, name) {
        commit('modifyName', name)
      }
    }
  })
  Vue.prototype.$store = store
  // router.beforeEach((to,from,next)=>{
  //   console.log($store.state.resturantName)
  //   next();
  // })

  router.beforeEach((to, from, next) => {
    let user=sessionStorage.getItem('user');
    if(to.path=='/login'){
      if(user!=null||user!=undefined){
        next({path:from.path});
        return;
      }
      next();
      return;
    }
    
    console.log(user)
    if(to.meta.loginRequire){
      if(user!=null||user!=undefined){
        next();
      }
      else{
        next({path:'/login',query:{redirect:to.path}})
      }
    }
    else{
      next();
    }

  })
  var vm = new Vue({
    el: '#app',
    router: router,
    store,
    data() {
      return {}
    }
  })



//   const instance = axios.create({
//  baseURL: 'http://www.laravel5.5.com/api/',
//  timeout: 10000,
// });
// //POST传参序列化(添加请求拦截器)
// // 在发送请求之前做某件事
// instance.interceptors.request.use(config => {
// //  // 设置以 form 表单的形式提交参数，如果以 JSON 的形式提交表单，可忽略
//  if(config.method === 'post'){
//   // JSON 转换为 FormData
//   const formData = new FormData();
//   Object.keys(config.data).forEach(key => formData.append(key, config.data[key]))
//   config.data = formData
//  }
//  // 下面会说在什么时候存储 token
//  if (localStorage.token) {
//   config.headers['Authorization'] = localStorage.token;
//   config.headers['Accept'] = 'application/json';
//   // config.headers['Content-Type'] = 'application/x-www-form-urlencoded;charset=UTF-8';
//   // store.dispatch('logined', localStorage.token)
//  }
//  return config
// },error =>{
//  alert("错误的传参", 'fail')
//  return Promise.reject(error)
// })
// // 自定义的 axios 响应拦截器
// instance.interceptors.response.use((response) => {
//  // 判断一下响应中是否有 token，如果有就直接使用此 token 替换掉本地的 token。你可以根据你的业务需求自己编写更新 token 的逻辑
//  var token = response.headers.authorization;
//  if (token) {
//   // 如果 header 中存在 token，那么触发 refreshToken 方法，替换本地的 token
//   axios.defaults.headers.common['Authorization'] = token;
//  }
//  return response
// }, (error) => {
//  if (error.response) {
//   switch (error.response.status) {
//    case 401:
//     // 这里写清除token的代码
//     router.replace({
//      path: 'login',
//      query: {redirect: router.currentRoute.fullPath}//登录成功后跳入浏览的当前页面
//     })
//   }
//  }
//  return Promise.reject(error)
// });
// Vue.http = Vue.prototype.$http = instance;


</script>

</html>